# ============================================================================
# NAMESPACE
# ============================================================================

apiVersion: v1
kind: Namespace
metadata:
  name: ejemplo-04
  labels:
    ejemplo: configmap-secret
